/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Custom font face */
@font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  src: url();
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

:root {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  background-color: transparent;
  --background: #131313;
  --background-secondary: #1b1b1b;
  --text: #e0e0e0;
  --secondary-text: #878a8c;
  --border: 1px solid #3030309a;
  --box-shadow: 1px 1px 20px rgba(214, 214, 214, 0.096);
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  width: auto;
  height: 100%;
  font-family: Arial, sans-serif;

  a {
    text-decoration: none;
  }

  border-radius: 1rem;
}

#time {
  font-size: small;
  font-weight: lighter;
}

#footer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: small;
}

#byContainer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
#footer,
#byContainer {
  font-weight: 300;
  color: var(--secondary-text);
}

#story {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: none;
  font-weight: 600;
  flex-direction: column;
  gap: 0.6rem;
}

#title:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  position: sticky;
  top: 0;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: large;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

#story {
  border-bottom: 1px solid var(--secondary-text);
}

#container {
  background-color: var(--background);
  color: var(--text);

  a {
    color: var(--text);
  }
}

#scrollTopButton {
  font-size: small;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--background-secondary);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollTopButton:hover {
  background-color: var(--secondary-text);
}
